# App Info
APP_NAME="Cost Map"
DEBUG=true
ENVIRONMENT=development

# Auth
SECRET_KEY="example..."
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=1

# Admin seed
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_FULL_NAME=Administrator
ADMIN_EMAIL=admin@cost.com.br
ADMIN_DISABLED=false

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=core-events
KAFKA_CONSUMER_GROUP=fastapi-group

# CORS
ALLOWED_ORIGINS=["*"]

# Rate Limiting
ENABLE_RATE_LIMITER=false
RATE_LIMIT_REQUESTS=5
RATE_LIMIT_WINDOW=60

# MySQL container db
MYSQL_ROOT_PASSWORD=example...
MYSQL_DATABASE=example...
MYSQL_USER=admin
MYSQL_PASSWORD=pass

# Database
DATABASE_URL=mysql+pymysql://admin:pass@mysql-server:3306/example...
DATABASE_HOST=example-name
DATABASE_PORT=example-port
DATABASE_NAME=example...
DATABASE_USER=admin
DATABASE_PASS=pass

# Redis
REDIS_LOCATION=redis
REDIS_PORT=6379

# Loggers
LOG_LEVEL=DEBUG
