# App Info
APP_NAME="Cost Map"
DEBUG=true
ENVIRONMENT=development

# Auth
SECRET_KEY="example..."
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=1

# Admin seed
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_FULL_NAME=Administrator
ADMIN_EMAIL=admin@cost.com.br
ADMIN_DISABLED=false

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=core-events
KAFKA_CONSUMER_GROUP=fastapi-group

# CORS
ALLOWED_ORIGINS=["*"]

# Rate Limiting
ENABLE_RATE_LIMITER=false
RATE_LIMIT_REQUESTS=5
RATE_LIMIT_WINDOW=60

# Postgres
POSTGRES_DB=costdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=pass

# Database
DATABASE_URL=postgresql+psycopg://admin:pass@postgres-server:5432/example...
DATABASE_HOST=postgres-server
DATABASE_PORT=5432
DATABASE_NAME=example...
DATABASE_USER=admin
DATABASE_PASS=pass

# Redis
REDIS_LOCATION=redis
REDIS_PORT=6379

# Loggers
LOG_LEVEL=DEBUG
